html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, Roboto Mono, sans-serif;
    min-width: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: black;
        background: white;
    }
}

.index-p {
    font-size: .7rem;
    letter-spacing: 0.1rem;
}